$dark: #302541;
$darker: #1A1423;
$darkest: #130F1A;

$lighter: #FFF;
$light: #EBEBEB;
$light-dark: #CCCCCC;

$pink: #F376F9;
$pink-intense: #EF4FF8;
$pink-faded: #F8B1FC;

$blue: #5CD3FF;
$blue-intense: #33C9FF;
$blue-faded: #99E4FF;

$orange: #FFC233;
$orange-intense: #FFBC1F;
$orange-faded: #FFDA85;

$filter-pink: brightness(0) saturate(100%) invert(65%) sepia(32%) saturate(4523%) hue-rotate(239deg) brightness(99%) contrast(97%);
$filter-orange: brightness(0) saturate(100%) invert(67%) sepia(96%) saturate(379%) hue-rotate(347deg) brightness(104%) contrast(101%);
