$dark: #1A1423;
$light: #EBEBEB;

$pink: #F376F9;
$pink-intense: #EF4FF8;
$pink-faded: #F8B1FC;

$blue: #5CD3FF;
$blue-intense: #33C9FF;
$blue-faded: #99E4FF;

$orange: #FFC233;
$orange-intense: #FFBC1F;
$orange-faded: #FFDA85;
