@use 'sizes';

:host {
  display: flex;
  padding: sizes.$px-24;
  justify-content: center;

  .events {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: sizes.$px-16;
  }

}
