@use 'sizes';
@use 'colors';

:host {
  display: flex;
  padding: sizes.$px-24;
  justify-content: center;
  align-items: center;
  height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    gap: sizes.$px-16;
    align-items: center;
    text-align: center;

    &__flag {
      max-width: sizes.$px-128;
    }


    &__text {
      color: colors.$light;

    }

    &__email {
      color: colors.$orange;
      word-break: keep-all;

      a {
        color: inherit;

        &:hover {
          color: colors.$blue-intense;
        }
      }
    }
  }
}

@media only screen and (min-width: sizes.$laptop-size) {
  :host {
    .content {
      &__text {
        font-size: sizes.$px-72;
      }
    }
  }
}
